﻿<div class="inputs d-flex flex-row justify-content-center mt-2">
    @foreach (int i in inputSize)
    {
        <input class="m-2 text-center form-control rounded"
               type="text"
               maxlength="1"
               name="@i"
               key="@i"
               value="@inputValue[i]"
               @oninput="(e) => UpdateValue(i, e)"
               autofocus="@(i == 0 ? true : false)"
               @ref="inputRef[i]"
               @onkeyup="(e) => HandleInput(i, e)" />
    }
</div>

@code
{
    [Parameter] public int InputLength { get; set; }
    [Parameter] public ElementReference FirstInput { get; set; }
    [Parameter] public Dictionary<int, string> inputValue { get; set; } = new();
    private Dictionary<int, ElementReference> inputRef = new();

    private List<int> inputSize = new();
    protected override void OnInitialized()
    {
        for (int i = 0; i < InputLength; i++)
        {
            inputSize.Add(i);
            inputValue.Add(i, string.Empty);
        }
    }
    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            inputRef[0].FocusAsync();
            FirstInput = inputRef[0];
        }
        return base.OnAfterRenderAsync(firstRender);
    }

    private void UpdateValue(int index, ChangeEventArgs e)
    {
        string? value = e.Value?.ToString();

        if (!string.IsNullOrEmpty(value))
        {
            inputValue[index] = value;
        }
    }

    private void HandleInput(int currentInput, KeyboardEventArgs e)
    {
        int maxInput = inputRef.Count() - 1;
        int nextInput = currentInput == maxInput ? maxInput : currentInput + 1;
        int prevInput = currentInput == 0 ? 0 : currentInput - 1;
        bool deleteRequest = e.Code == "Backspace" || e.Code == "Delete" || e.Code == "ArrowLeft";
        bool isNumber = e.Key.All(c => c >= '0' && c <= '9');
        if (isNumber)
        {
            inputRef[nextInput].FocusAsync();
        }
        else
        {
            inputValue[currentInput] = string.Empty;
        }

        if (deleteRequest)
        {
            inputRef[prevInput].FocusAsync();
            inputValue[currentInput] = string.Empty;
        }
        if (currentInput == maxInput && !deleteRequest)
        {
            string otpValues = string.Empty;
            inputValue.Select(a => a.Value).ToList().ForEach(b => otpValues += b);
        }
    }
}
