﻿
#loginSection {
    background-image: url('images/loginbackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    height: 100vh;
}


#loginContainer {
    top: 0%;
    margin-left: 15%;
    margin-right: 15%;
    -ms-transform: translate(-5%, 25%);
    transform: translate(-5%, 25%);
}

#loginCard {
    padding-left: 1.5rem;
    padding-right: 0;
    padding-bottom: 1.5rem;
    border: 1px solid #e0e0e0;
    border-radius: 1rem;
    background-color: #ffffff;
    position: relative;
}


    #loginCard img {
        width: 4rem;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }

    #loginCard .rightGradient {
        background-image: url('images/rightvactor.png');
        background-repeat: no-repeat;
        background-size: contain;
    }

.loginform {
    padding-right: 1.5rem !important;
}

.rightGradient span {
    vertical-align: middle;
    display: block;
    font-size: 1rem;
}

.btn-login {
    background: linear-gradient(90deg, #F16522 0%, #000000 105.29%);
    border-color: #ff0000;
    color: #ffffff;
    margin-bottom: 1.5rem;
}

    .btn-login:hover {
        background: linear-gradient(#000000 105.29%, 90deg, #F16522 0%);
        border-color: #ff0000;
        color: #ffffff;
    }


.copyRightText {
    color: rgba(255, 255, 255, 0.56);
}

.privacytext a {
    color: #ffffff;
    -webkit-text-decoration: inherit;
    text-decoration: inherit;
    display: inline-block;
    padding-right: 1rem;
}

@media (max-width: 641px) {
    #loginContainer {
        top: 5%;
        left: 0%;
        -ms-transform: translate(0%, 5%);
        transform: translate(0%, 5%);
        margin: auto;
    }
}
