﻿@page "/login"
@using TosBlazor.ViewModels
@using TosBlazor.Configurations.Auth
@inject NavigationManager Navigation;
@inject CustomAuthenticationStateProvider AuthStateProvider;

<section id="loginSection">
    <div class="container" id="loginContainer">
        <div class="row">
            <div class="col-md-4">
                <h2 class="text-light">Banglalink TOS</h2>
                <div id="loginCard">
                    <div class="d-flex justify-content-between">
                        <div class="w-50">
                            <img src="/images/logo.png" />
                        </div>

                        <div class="rightGradient w-50">
                            <span class="text-light text-center">Sign In</span>
                        </div>
                    </div>
                    <div class="loginform">
                        <EditForm Model="@loginModel" OnValidSubmit="@HandleValidSubmit">
                            <DataAnnotationsValidator />
                            <ValidationSummary />
                            <Alert Color="AlertColor.Danger" Dismissable="false" hidden="@loginModel.LoginFailureHidden">
                                Invalid login attempt, please correct and try again.
                            </Alert>
                            <div class="form-group">
                                <label class="required form-label" for="username">Username</label>
                                <InputText id="username" @bind-Value="loginModel.Username" class="form-control" />
                            </div>
                            <div class="form-group pt-2">
                                <label class="required form-label" for="password">Password</label>
                                <InputText id="password" type="password" @bind-Value="loginModel.Password" class="form-control" />
                            </div>
                            <div class="form-group mt-2 pt-4">
                                <button type="submit" class="btn btn-login mx-auto d-block w-50">Sign In</button>
                            </div>
                        </EditForm>
                    </div>
                 
                </div>
            </div>
        </div>
        <div class="row pt-5 mb-5">
            <div class="col-md-6">
                <p class="copyRightText">© All Rights Reserved Banglalink </p>
            </div>
            <div class="col-md-6 privacytext justify-content-evenly">
                <a href="#"> Privacy Policy |</a>
                <a href="#"> Terms of Use  |</a>
                <a href="#"> Cookies Policy  |</a>
                <a href="#"> Legal Statement</a>
            </div>
        </div>
    </div>
</section>

@code {
    private LoginViewModel loginModel = new();

    private async Task HandleValidSubmit()
    {
        var result = await AuthStateProvider.LoginAsync(loginModel);
        if (result)
        {
            Navigation.NavigateTo("");
        }
        this.loginModel.LoginFailureHidden = false;
        return;
    }
}