.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    background-color: #FAFAFA;
}

.sidebar {
    background-color: #fff;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.top-row {
    background: linear-gradient(90deg, #F16522 0%, #000000 305.29%);
    border-bottom: 1px solid #d6d5d5;
    height: 3.5rem;
}

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        text-decoration: none;
        color: #fff;
    }

        .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
            text-decoration: none;
        }


@media (max-width: 640.98px) {
    .top-row {
        justify-content: space-between;
    }

        .top-row ::deep a, .top-row ::deep .btn-link {
            margin-left: 0;
        }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth ::deep a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
