﻿@using TosBlazor.Components.Account
@inherits LayoutComponentBase
<AuthorizeView>
    <Authorized>
        <div class="page">
            <div class="sidebar">
                <NavMenu />
            </div>
            <main>
                <div class="top-row d-flex justify-content-end">
                    <div class="text-center text-light">
                        <small>TOS Developer</small>
                        <p><small>Tigers Den, Banglalink</small> </p>
                    </div>
                </div>

                <article class="content px-4">
                    @Body
                </article>
            </main>
        </div>
    </Authorized>
    <NotAuthorized>
        <Login />
    </NotAuthorized>
</AuthorizeView>
