﻿<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <img class="navbar-logo" src="images/logo.png" />
        <a class="navbar-brand" href="#">BANGLALINK TOS</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-1">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <Icon Name="IconName.ArrowRightSquareFill" /> &nbsp; &nbsp; Transfer Service
            </NavLink>
        </div>
        <div class="nav-item px-1">
            <NavLink class="nav-link" href="opened-issue">
                <Icon Name="IconName.FileEarmarkText" /> &nbsp; &nbsp; Open Issue
            </NavLink>
        </div>   
        <div class="nav-item px-1">
            <NavLink class="nav-link" href="counter">
                <Icon Name="IconName.FileEarmarkText" /> &nbsp; &nbsp; Close Issue
            </NavLink>
        </div>
        <div class="nav-item px-1">
            <NavLink class="nav-link" href="/home1" Match="NavLinkMatch.All">
                <Icon Name="IconName.ArrowRightSquareFill" /> &nbsp; &nbsp; Transfer Service
            </NavLink>
        </div>    
        <div class="nav-item px-1">
            <NavLink class="nav-link" href="/weather" Match="NavLinkMatch.All">
                <Icon Name="IconName.ArrowRightSquareFill" /> &nbsp; &nbsp; Weather
            </NavLink>
        </div>
        <div class="nav-item px-1">
            <NavLink class="nav-link" href="logout">
                <Icon Name="IconName.Lock" /> &nbsp; &nbsp;  Log Out
            </NavLink>
        </div>
    </nav>
</div>
