﻿<div class="container mt-4">
    <div class="row">
        @for (int i = 0; i < logStatus.Count(); i++)
        {
            <div class="col-md-4">
                @if (logStatus[i].Item1)
                {
                    <div class="text-center checkDiv">
                        <img src="/images/checkMark.png" />
                    </div>
                }
                else
                {
                    <div class="checkDivNotOK"></div>
                }
                <div class="text-center mt-3">
                    <a href="/home@(i+1)">
                        <h4>Step-@(i+1) </h4>
                    </a>
                    <p>@logStatus[i].Item2 </p>
                </div>
            </div>
        }
    </div>
</div>
@code {
    private ActivityLogVM log = new();
    private List<Tuple<bool, string>> logStatus = new();
    private int index = 1;
    protected override void OnInitialized()
    {
        log.IsEligibilityCheck = true;
        log.IsSecurityQuestionCheck = true;
        log.IsOTPVerified = false;
        log.IsConsentMessageSent = true;
        log.IsBTRCApproved = true;
        log.IsProcessionDone = true;
        InitializeLogStatus("Eligibility Checking", log.IsEligibilityCheck);
        InitializeLogStatus("Security Question Answer Checking", log.IsSecurityQuestionCheck);
        InitializeLogStatus("OTP Verification", log.IsOTPVerified);
        base.OnInitialized();
    }
    private void InitializeLogStatus(string stepDescription, bool isCompleted)
    {
        logStatus.Add(new Tuple<bool, string>(isCompleted, $"{(isCompleted ? $"{stepDescription} Done " : $" Waitting for {stepDescription}")}"));
    }
    public class ActivityLogVM
    {
        public bool IsEligibilityCheck { get; set; }
        public bool IsSecurityQuestionCheck { get; set; }
        public bool IsOTPVerified { get; set; }
        public bool IsConsentMessageSent { get; set; }
        public bool IsBTRCApproved { get; set; }
        public bool IsProcessionDone { get; set; }
    }
}
