﻿.checkDiv {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #FF6B00;
    border-radius: 50%;
}

.checkDivNotOK {
    border: 1px solid #FF6B00;
    background-color: #FF8A0066;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}
img {
    width: 1.3rem;
    height: 1.3rem;
}

p {
    color: #FF6B00;
    font-size:.9rem;
}