﻿@page "/activity-log"
<h3>Activity Log</h3>

<div class="container mt-4">
    <div class="row">
        @foreach (var item in logStatus)
        {
            <div class="col-md-2">
                @if (item.Item1)
                {
                    <div class="text-center checkDiv">
                        <img src="/images/checkMark.png" />
                    </div>
                }
                else
                {
                    <div class="checkDivNotOK"></div>
                }
                <div class="text-center mt-3">
                    <h4>Step-@(index++) </h4>
                    <p>@item.Item2 </p>
                </div>
            </div>
        }
    </div>
</div>

@code {
    private ActivityLogVM log = new();
    private List<Tuple<bool, string>> logStatus = new();
    private int index = 1;
    protected override void OnInitialized()
    {
        log.IsEligibilityCheck = false;
        log.IsSecurityQuestionCheck = true;
        log.IsOTPVerified = false;
        log.IsConsentMessageSent = true;
        log.IsBTRCApproved = true;
        log.IsProcessionDone = true;


        InitializeLogStatus("Eligibility Checking", log.IsEligibilityCheck);
        InitializeLogStatus("Security Question Answer Checking", log.IsSecurityQuestionCheck);
        InitializeLogStatus("OTP Verification", log.IsOTPVerified);
        InitializeLogStatus("Consent Message Sending", log.IsConsentMessageSent);
        InitializeLogStatus("BTRC Approval", log.IsBTRCApproved);
        InitializeLogStatus("Possession", log.IsProcessionDone);

        base.OnInitialized();
    }
    private void InitializeLogStatus(string stepDescription, bool isCompleted)
    {
        logStatus.Add(new Tuple<bool, string>(isCompleted, $"{(isCompleted ? $"{stepDescription} Done " : $" Waitting for {stepDescription}")}"));
    }

  
    public class ActivityLogVM
    {
        public bool IsEligibilityCheck { get; set; }
        public bool IsSecurityQuestionCheck { get; set; }
        public bool IsOTPVerified { get; set; }
        public bool IsConsentMessageSent { get; set; }
        public bool IsBTRCApproved { get; set; }
        public bool IsProcessionDone { get; set; }
    }
}
