﻿@page "/counter"
@inject NavigationManager navigation;
<h1>Counter</h1>


<button class="btn btn-primary" @onclick="IncrementCount">Click for OTP</button>
<button class="btn btn-primary" @onclick="Verified">Click for OTP Verified</button>
<button class="btn btn-primary" @onclick="GoToActivity">Click for ActivityLog</button>


@code {
    private void IncrementCount()
    {
        navigation.NavigateTo("/otpentry");
    } 
    
    private void Verified()
    {
        navigation.NavigateTo("/otpverified/forword");
    }  
    
    private void GoToActivity()
    {
        navigation.NavigateTo("/activity-log");
    }
}

