﻿@page "/customer"
@using TosBlazor.Core.Customers
@inject ICustomerRepository data


<h1>Customers</h1>

<Grid @ref="grid"
      TItem="CustomerModel"
      Class="table table-hover table-bordered table-striped"
      DataProvider="CustomerDataProvider"
      AllowFiltering="true"
      AllowPaging="true"
      Responsive="true"
      ItemsPerPageText="10"
      PageSizeSelectorItems="[5, 10, 15]"
      PaginationItemsTextFormat="">

    <GridColumn TItem="CustomerModel" HeaderText="Id" PropertyName="Id">
        @context.Id
    </GridColumn>
    <GridColumn TItem="CustomerModel" HeaderText="Customer Name" PropertyName="Name">
        @context.Name
    </GridColumn>  
    <GridColumn TItem="CustomerModel" HeaderText="Email Address" PropertyName="Email">
        @context.Email
    </GridColumn>    <GridColumn TItem="CustomerModel" HeaderText="Phone Number" PropertyName="Phone">
        @context.Phone
    </GridColumn>
</Grid>

@code {
    BlazorBootstrap.Grid<CustomerModel> grid = default!;
    private IEnumerable<CustomerModel>? customers = default!;

    protected override async Task OnInitializedAsync()
    {
        customers = await data.GetAllAsync();
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
    }

    private async Task<GridDataProviderResult<CustomerModel>> CustomerDataProvider(GridDataProviderRequest<CustomerModel> request)
    {
        if (customers is null)
            customers = await data.GetAllAsync();
        return await Task.FromResult(request.ApplyTo(customers ?? new List<CustomerModel>()));
    }
}