﻿@page "/customercontact"
@inject NavigationManager navigationManager

<div class="container">
    <h3 class="py-3">Add Contact</h3>
    <div class="row">
        <div class="col-md-6">
            <label class="fw-bold">Enter B Party Contact Number</label>
            <div class="input-group my-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1d">+880</span>
                </div>
                <input type="text" class="form-control" id="fnfNumber" aria-describedby="basic-addon1d" />
            </div>
        </div>
        <div class="col-md-11 text-end">
            <button type="button" class="btn btn-bl-primary px-5"
                    @onclick="AddContact"> Submit
            </button>
        </div>
        <div>
        </div>
    </div>
</div>

@code{
    private void AddContact()
    {
        navigationManager.NavigateTo($"/otpverified/back");
    }
}