﻿@page "/home1"
@using TosBlazor.ViewModels
@attribute [Authorize]

<ActivityLogForHomePage />
<div class="container">
    <div class="row" id="innerRow">
        <div class="col-md-12 text-center">
            <img src="/images/dual_sim.png" />
            <div class="errorMessage py-3 my-3 d-none">
                <p>The user is not eligible for </p>
                <p>the dual sim feature</p>
            </div>
        </div>
        <div class="col-md-12">
            <div class="input-group my-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">+880</span>
                </div>
                <input type="text" class="form-control" aria-describedby="basic-addon1">
            </div>
            <div class="form-group pt-4">
                <button type="submit" class="btn btn-login w-100" @onclick="OnShowModalClick">Verify</button>
            </div>
        </div>
    </div>
</div>



@code {
    private Modal modal = default!;
   
    private void  OnShowModalClick()
    {
    } 
}
