﻿.container {
    width: 70%;
    margin-top: 5%;
}

#innerRow {
    margin: auto;
    width: 80%;
}


img {
    width: 5rem;
}

.errorMessage {
    border: 2px solid rgba(218, 80, 31, 1);
    border-radius: 0.5rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 80%;
    margin: auto;
}

    .errorMessage p {
        font-weight: 700;
        font-size: 1.3rem;
        line-height: 1.3rem;
    }

#innerRow .input-group-prepend, #innerRow .form-control {
    border: 1px solid rgba(218, 80, 31, 1)
}
#innerRow .input-group-prepend:focus, #innerRow .form-control:checked {
    border: 1px solid rgba(218, 80, 31, 1)
}


input[type=text]::-webkit-inner-spin-button,
input[type=text]::-webkit-outer-spin-button, .form-control:checked{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    background-color:yellow !important;
   
}
button, button:hover {
    background-color: #FF6B00;
    background: linear-gradient(60deg, #F16522 0%, #000000 305.29%);
    color: white;
}



@media (max-width: 641px) {
    .container {
        width: 95%;
        margin-top: 10%;
    }

    #innerRow {
        margin: auto;
        width: 80%;
    }
}