﻿@page "/"
@using TosBlazor.ViewModels
@attribute [Authorize]
@inject NavigationManager Navigation;

<div class="container">
    <div class="row" id="innerRow">
        <div class="col-md-12 text-center">
            <img src="/images/dual_sim.png" />
            <div class="errorMessage py-3 my-3 d-none">
                <p>The user is not eligible for </p>
                <p>the dual sim feature</p>
            </div>
        </div>
        <div class="col-md-12">
            <div class="input-group my-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">+880</span>
                </div>
                <input type="text" class="form-control" aria-describedby="basic-addon1">
            </div>
            <div class="form-group pt-4">
                <button type="submit" class="btn btn-login w-100" @onclick="OnShowModalClick">Verify</button>
            </div>
        </div>
    </div>
</div>



<Modal @ref="modal" title="Security Question" IsVerticallyCentered="true" Size="ModalSize.Large">
    <BodyTemplate>
        <EditForm Model="model" OnValidSubmit="@HandleValidSubmit" class="px-3">
            <div class="mb-2 pl-2">
                <label for="datauser" class="form-label">Q1. Data User?</label> <br />
                <InputRadioGroup @bind-Value="model.IsDataUser">
                    &nbsp;
                    <InputRadio Value="true" class="form-check-input" />  &nbsp; Yes  &nbsp; &nbsp;
                    <InputRadio Value="false" class="form-check-input" /> &nbsp; No
                </InputRadioGroup>
            </div>
            <div class="mb-2 pl-2">
                <label for="datauser">Q2. MNO App Activated?</label> <br />
                <InputRadioGroup @bind-Value="model.IsMNOAppActivated">
                    &nbsp; <InputRadio Value="true" class="form-check-input" />  &nbsp;Yes  &nbsp; &nbsp;
                    <InputRadio Value="false" class="form-check-input" /> &nbsp; No
                </InputRadioGroup>
            </div>
            <div class="mb-2 pl-2">
                <label for="datauser">Q3. Do you have any F&F Number? </label> <br />
                <InputRadioGroup @bind-Value="model.HasFNFNumber">
                    &nbsp; <InputRadio Value="true" class="form-check-input" />  &nbsp; Yes  &nbsp; &nbsp;
                    <InputRadio Value="false" class="form-check-input" /> &nbsp; No
                </InputRadioGroup>
            </div>
            <div class="mb-2 pl-2">
                <label>Q4.If Yes, Then mention one F&F Number</label> <br />
                <div class="input-group my-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1d">+880</span>
                    </div>
                    <InputText class="form-control" id="fnfNumber" aria-describedby="basic-addon1d" @bind-Value="model.FnfNumber" />
                </div>
            </div>
            <div class="mb-2 pl-2">
                <label for="MFSAccount">Q5. Do You have any MFS Account? </label> <br />
                <InputRadioGroup @bind-Value="model.MFSAccount">
                    &nbsp;  <InputRadio Value="true" class="form-check-input" />  &nbsp; Yes  &nbsp; &nbsp;
                    <InputRadio Value="false" class="form-check-input" /> &nbsp; No
                </InputRadioGroup>
            </div>
            <div class="pt-5 mb-3">
                <button type="submit" class="btn d-block m-auto w-50">Verify</button>
            </div>
        </EditForm>
    </BodyTemplate>
</Modal>
<Toasts class="p-5 mt-5" AutoHide="true" Delay="2000" Placement="ToastsPlacement.TopCenter" />

@code {
    private Modal modal = default!;
    private SecurityQuestionVM model = new();
    [Inject] protected ToastService? ToastService { get; set; }


    private async Task OnShowModalClick()
    {
        await modal.ShowAsync();
    }

    private async Task HandleValidSubmit()
    {
        if (model.IsDataUser)
        {
            Navigation.NavigateTo("/otpentry");
        }
        else
        {
            await modal.HideAsync();
            ToastService?.Notify(new(ToastType.Danger, $"Error: The user is not eligible for the dual sim feature"));
        }
    }
}
