﻿@page "/nidentry"
@using System.Timers;

<div class="container">
    <div class="row" id="innerRow">
        <div class="col-md-12 text-center">
            <img src="/images/nid.png" />
        </div>
        <div class="col-md-12 text-center">
            <h3 class="text-center my-3">Enter NID last 4 digit Number</h3>
            <OTP InputLength="4" @ref="otp" />
            <span class="mt-2">1938474383773xxxx</span>
            <div class="form-group pt-4">
                <button type="button" class="btn mb-3 w-50 fw-bolder" @onclick="VerifyNID">Proceed</button>
            </div>
        </div>
    </div>
</div>

<Modal @ref="simModal" title="Consent message sending" IsVerticallyCentered="true" Size="ModalSize.Regular">
    <BodyTemplate>
        <EditForm Model="model" OnValidSubmit="SendConsentMessage" class="px-5 pt-5 pl-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="@IsCheckBoxForAllChecked" @onchange="SelectAll">
                <label class="form-check-label" for="flexCheckDefault">
                   Select All
                </label>
            </div>
            @foreach (var sim in model.UserSims)
            {
                <div class="form-check">
                    <input class="form-check-input" 
                           type="checkbox" 
                           value="@sim.Key" 
                           checked="@IsAllNumberSelected" 
                           @onchange="HandleCheckBoxForAll">
                    <label class="form-check-label" for="flexCheckDefault">
                       @sim.Value
                    </label>
                </div>
            }

            <div class="my-2 py-2 text-center">
                <p>@model.ConsentMessage</p>
            </div>
            <div class="pt-5 mb-3">
                <button type="button" class="btn d-block m-auto w-50" @onclick="SendConsentMessage">Send</button>
            </div>
        </EditForm>
    </BodyTemplate>
</Modal>
@code {


    private OTP? otp;
    private Modal simModal = default!;

    private bool IsAllNumberSelected = false;
    private bool IsCheckBoxForAllChecked = false;
    private UserConsent model = new();

    private void SelectAll()
    {
        IsAllNumberSelected = !IsAllNumberSelected;
        IsCheckBoxForAllChecked = !IsCheckBoxForAllChecked;
    }
    private void HandleCheckBoxForAll()
    {
        IsCheckBoxForAllChecked = false;
    }
    private void VerifyNID()
    {
        var result = otp?.inputValue.Values.ToList().Aggregate((a, b) => a + b);

        if (model.UserSims.Count() < 1)
        {
            model.UserSims.Add(1, "01711111111");
            model.UserSims.Add(2, "01822222222");
            model.UserSims.Add(3, "01933333333");
            model.UserSims.Add(4, "01644444444");
            model.UserSims.Add(5, "01555555555");
        }
        simModal.ShowAsync();
    }

    private void SendConsentMessage()
    {
        simModal.HideAsync();
        model.UserSims = new();
    }

    public class UserConsent
    {
        public string ConsentMessage { get; set; } = "Your sim Ownership will be changed, if you not aggree reply No";
        public Dictionary<int, string> UserSims { get; set; } = new();
    }
}

