﻿.container {
    width: 80%;
    margin-top: 10%;
}

#innerRow {
    margin: auto;
    width: 80%;
}

@media (max-width: 641px) {
    .container {
        width: 95%;
        margin-top: 10%;
    }

    #innerRow {
        margin: auto;
        width: 80%;
    }
}

img {
    width: 4.5rem;
    height: 3.5rem;
}

button, button:hover, button:checked {
    background-color: #FF6B00;
    color: white;
}
