﻿@page "/opened-issue"
@using TosBlazor.Core.Products
@inject IProductRepository data
@inject NavigationManager navigation;

<div class="container">
    <h3 class="py-2">Opened Issues</h3>
    <div class="row">
        <div class="col-md-4">
            <label>Ticket Number</label>
            <input type="text" class="form-control" placeholder="Ticket Number" />
        </div>
        <div class="col-md-4">
            <label>MSISDN Number</label>
            <input type="text" class="form-control" placeholder="MSISDN Number" />
        </div>
        <div class="col-md-4">
            <label>Requested Date</label>
            <input type="date" class="form-control" />
        </div>
        <div class="col-md-12 text-end my-3">
            <button class="btn btn-success"><Icon Name="IconName.Search" /> &nbsp;Search</button>
        </div>
    </div>
</div>

@if (products == null)
{
    <p><em>Loading...</em></p>
    <Toasts class="p-3" AutoHide="true" Delay="4000" Placement="ToastsPlacement.TopRight" />
}
else
{
    <div class="container" id="tableDiv">
        <Grid @ref="grid"
              TItem="ProductModel"
              Class="table table-hover table-bordered table-striped"
              DataProvider="CustomerDataProvider"
              THeadCssClass="btn-bl-primary"
              Height="20"
              Unit="Unit.Rem"
              AllowPaging="true"
              Responsive="false"
              ItemsPerPageText="item per page"
              PageSizeSelectorVisible="true"
              PageSizeSelectorItems="@(new int[] {5,10,15 })"
              PaginationItemsTextFormat="{0} to {1} of {2}">
            <GridColumn TItem="ProductModel"
                        HeaderText="Ticket Number"
                        PropertyName="ProductCode"
                        HeaderTextAlignment="Alignment.Center">
                1
            </GridColumn>
            <GridColumn TItem="ProductModel"
                        HeaderText=" MSISDN Number"
                        PropertyName="ProductCode"
                        HeaderTextAlignment="Alignment.Center">
                @context.ProductCode
            </GridColumn>
            <GridColumn TItem="ProductModel"
                        HeaderText="Requested Date"
                        PropertyName="ProductName"
                        HeaderTextAlignment="Alignment.Center">
                @context.ProductName
            </GridColumn>
            <GridColumn TItem="ProductModel"
                        HeaderText="Status"
                        PropertyName="ProductName"
                        HeaderTextAlignment="Alignment.Center">
                Send To CSRA
            </GridColumn>
            <GridColumn TItem="ProductModel"
                        HeaderText="Action"
                        HeaderTextAlignment="Alignment.Center"
                        TextAlignment="Alignment.End"
                        Class="w-25">
                <button class="btn btn-warning" @onclick="() => ViewActivityLog(context)">Activity log</button>
                <button class="btn btn-danger" @onclick="() => ViewActivityLog(context)">Resolve Ticket</button>
                <button class="btn btn-success" @onclick="() => ViewActivityLog(context)">Send To CSRA</button>
                <button class="btn btn-primary" disabled="@(true)" @onclick="() => ViewActivityLog(context)">Edit Contact</button>
            </GridColumn>
        </Grid>
    </div>
}
@code {
    [Inject] protected ToastService? ToastService { get; set; }
    BlazorBootstrap.Grid<ProductModel> grid = default!;
    private IEnumerable<ProductModel>? products;
    protected override async Task OnInitializedAsync()
    {

        products = await data.GetAllAsync();
        if (products is null)
        {
            ToastService?.Notify(new(ToastType.Danger, $"Error: something went to wrong"));
        }
    }

    private async Task<GridDataProviderResult<ProductModel>> CustomerDataProvider(GridDataProviderRequest<ProductModel> request)
    {
        if (products is null)
            products = await data.GetAllAsync();
        return await Task.FromResult(request.ApplyTo(products ?? new List<ProductModel>()));
    }

    private void ViewActivityLog(ProductModel product)
    {
        navigation.NavigateTo("/activity-log");
    }
}
