﻿.container {
    width: 70%;
    margin-top: 10%;
}

#innerRow {
    margin: auto;
    width: 70%;
}

@media (max-width: 641px) {
    .container {
        width: 95%;
        margin-top: 10%;
    }

    #innerRow {
        margin: auto;
        width: 70%;
    }
}

.checkDiv {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    background-color: #FF6B00;
    border-radius: 50%;
}

img {
    width: 2rem;
    height: 2rem;
}

button, button:hover, button:checked {
    background-color: #FF6B00;
    color: white;
}

.resendDiv button {
    background-color: transparent;
    color: black;
    border: none;
    font-size: 0.8rem;
    text-decoration: underline;
    cursor: pointer;
}
