﻿@page "/home3"
@using System.Timers;
@inject NavigationManager Navigation;
<ActivityLogForHomePage />
<div class="container">
    <div class="row" id="innerRow">
        <div class="col-md-12 text-center">
            <div class="checkDiv text-center">
                <img src="/images/check.png" />
            </div>
        </div>
        <div class="col-md-12 text-center">
            <h3 class="text-center my-3">Enter OTP Code</h3>
            <OTP InputLength="4" @ref="otp" />
            <span class="mt-2 @(IsSend?"d-block": "d-none")">Resend Code in <strong>@TimeInSecond</strong></span>
            <div class="resendDiv mt-2 @(IsResend?"d-block": "d-none")">
                Don't receive the code ?
                <button class="fw-bold text-decoration-none" @onclick="SendOTP"> RESEND OTP</button>
            </div>
            <div class="form-group pt-4">
                <button type="submit" class="btn btn-bl-primary mb-3 w-75 fw-bolder" @onclick="VerifyOTP">Verify & Proceed</button>
                <button type="button" class="btn  w-75 fw-bolder bg-light text-danger" @onclick="GetDefaultOTP">Default OTP</button>
            </div>
        </div>
    </div>
</div>


@code {
    private bool IsSend = true;
    private bool IsResend = false;
    private string TimeInSecond = string.Empty;
    private int secondsRemaining = 5;
    private Timer? timer;

    private OTP? otp;
    protected override void OnInitialized()
    {
        SendOTP();
    }

    private void SendOTP()
    {
        timer = new Timer(1000);
        timer.Elapsed += UpdateCountdown;
        timer.AutoReset = true;
        timer.Enabled = true;

        IsSend = true;
        IsResend = false;
        secondsRemaining = 5;
        otp?.FirstInput.FocusAsync();
    }
    private void VerifyOTP()
    {
        var result = otp?.inputValue.Values.ToList().Aggregate((a, b) => a + b);
        Navigation.NavigateTo("/otpverified/forword");
    }

    private void GetDefaultOTP()
    {
        Navigation.NavigateTo("/defaultotp");
    }
    private void UpdateCountdown(object? sender, ElapsedEventArgs e)
    {
        if (secondsRemaining > -1)
        {
            TimeInSecond = $"{secondsRemaining}s";
            secondsRemaining--;
        }
        else
        {
            timer?.Stop();
            IsSend = false;
            IsResend = true;
        }
        InvokeAsync(StateHasChanged);
    }
}

