﻿@page "/otpverified/{path}"
@inject NavigationManager navigationManager

<div class="container">
    <div class="row text-center" id="innerRow">
        <div class="col-md-12">
            <div class="checkDiv">
                <img src="/images/verifiedCheck.png" />
            </div>
        </div>
        <div class="col-md-12">

            @if (string.Equals(path, "back"))
            {
                <h3 class="mt-4">Success</h3>
                <span class="mt-2">Consent message sent to A party user</span>
                <div class="form-group pt-4">
                    <button type="button"
                            class="btn mb-3 w-50 fw-bolder btn-bl-primary"
                            @onclick="@(()=> navigationManager.NavigateTo("/"))">
                        Back To Home
                    </button>
                </div>
            }
            else
            {
                <h3 class="mt-4">OTP Verified</h3>
                <div class="form-group pt-4">
                    <button type="button"
                            class="btn mb-3 w-50 fw-bolder btn-bl-primary"
                            @onclick="@(()=> navigationManager.NavigateTo("/customercontact"))">
                        Add B Party Contact
                    </button>
                </div>
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string? path { get; set; }
}