﻿.container {
    width: 80%;
    margin-top: 10%;
}

#innerRow {
    margin: auto;
    width: 80%;
}

@media (max-width: 641px) {
    .container {
        width: 95%;
        margin-top: 10%;
    }

    #innerRow {
        margin: auto;
        width: 80%;
    }
}
.checkDiv {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background-color: #EAE2E2;
    border-radius: 50%;
}

img {
    width: 2.5rem;
    height: 2.5rem;
}

