﻿@page "/home2"
@using TosBlazor.ViewModels
@inject NavigationManager Navigation;


<ActivityLogForHomePage />
<div class="container w-75 m-auto mt-5">
    <EditForm Model="model" OnValidSubmit="@HandleValidSubmit" class="px-3">
        <div class="mb-2 pl-2">
            <label for="datauser" class="form-label">Q1. Data User?</label> <br />
            <InputRadioGroup @bind-Value="model.IsDataUser">
                &nbsp;
                <InputRadio Value="true" class="form-check-input" />  &nbsp; Yes  &nbsp; &nbsp;
                <InputRadio Value="false" class="form-check-input" /> &nbsp; No
            </InputRadioGroup>
        </div>
        <div class="mb-2 pl-2">
            <label for="datauser">Q2. MNO App Activated?</label> <br />
            <InputRadioGroup @bind-Value="model.IsMNOAppActivated">
                &nbsp; <InputRadio Value="true" class="form-check-input" />  &nbsp;Yes  &nbsp; &nbsp;
                <InputRadio Value="false" class="form-check-input" /> &nbsp; No
            </InputRadioGroup>
        </div>
        <div class="mb-2 pl-2">
            <label for="datauser">Q3. Do you have any F&F Number? </label> <br />
            <InputRadioGroup @bind-Value="model.HasFNFNumber">
                &nbsp; <InputRadio Value="true" class="form-check-input" />  &nbsp; Yes  &nbsp; &nbsp;
                <InputRadio Value="false" class="form-check-input" /> &nbsp; No
            </InputRadioGroup>
        </div>
        <div class="mb-2 pl-2">
            <label>Q4.If Yes, Then mention one F&F Number</label> <br />
            <div class="input-group my-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1d">+880</span>
                </div>
                <InputText class="form-control" id="fnfNumber" aria-describedby="basic-addon1d" @bind-Value="model.FnfNumber" />
            </div>
        </div>
        <div class="mb-2 pl-2">
            <label for="MFSAccount">Q5. Do You have any MFS Account? </label> <br />
            <InputRadioGroup @bind-Value="model.MFSAccount">
                &nbsp;  <InputRadio Value="true" class="form-check-input" />  &nbsp; Yes  &nbsp; &nbsp;
                <InputRadio Value="false" class="form-check-input" /> &nbsp; No
            </InputRadioGroup>
        </div>
        <div class="pt-5 mb-3">
            <button type="button" class="btn btn-bl-primary d-block m-auto w-50">Verify</button>
        </div>
    </EditForm>
</div>


@code {
    private SecurityQuestionVM model = new();
    [Inject] protected ToastService? ToastService { get; set; }
    private void HandleValidSubmit()
    {
        if (model.IsDataUser)
        {
            Navigation.NavigateTo("/otpentry");
        }
        else
        {
            ToastService?.Notify(new(ToastType.Danger, $"Error: The user is not eligible for the dual sim feature"));
        }
    }
}
