﻿@page "/weather"
@using TosBlazor.Core.Products
@inject IProductRepository data

<h1>Products</h1>
@if (products == null)
{
    <p><em>Loading...</em></p>
    <Toasts class="p-3" AutoHide="true" Delay="4000" Placement="ToastsPlacement.TopRight" />
}
else
{
        <Grid @ref="grid"
              TItem="ProductModel"
              Class="table table-hover table-bordered table-striped"
              DataProvider="CustomerDataProvider"
              THeadCssClass="btn-bl-primary"
              Height="20"
              Unit="Unit.Rem"
              AllowPaging="true"
              Responsive="true"
              ItemsPerPageText="item per page"
              PageSizeSelectorVisible="true"
              PageSizeSelectorItems="@(new int[] { 5,10,15 })"
              HeaderRowCssClass=""
              PaginationItemsTextFormat="{0} to {1} of {2}">
            <GridColumn TItem="ProductModel"
                        HeaderText="Product Code"
                        PropertyName="ProductCode"
                        HeaderTextAlignment="Alignment.Center">
                @context.ProductCode
            </GridColumn>
            <GridColumn TItem="ProductModel"
                        HeaderText="Product Name"
                        PropertyName="ProductName"
                        HeaderTextAlignment="Alignment.Center">
                @context.ProductName
            </GridColumn>
           <GridColumn TItem="ProductModel"
                        HeaderText="Product Description"
                        PropertyName="ProductDescription"
                        HeaderTextAlignment="Alignment.Center">              
                        Edit 
            </GridColumn>
        </Grid>
}

@code {
    [Inject] protected ToastService? ToastService { get; set; }
    BlazorBootstrap.Grid<ProductModel> grid = default!;
    private IEnumerable<ProductModel>? products;
    protected override async Task OnInitializedAsync()
    {

        products = await data.GetAllAsync();
        if (products is null)
        {
            ToastService?.Notify(new(ToastType.Danger, $"Error: something went to wrong"));
        }
    }
    protected override async Task OnAfterRenderAsync(bool firstRender) => await base.OnAfterRenderAsync(firstRender);


    private async Task<GridDataProviderResult<ProductModel>> CustomerDataProvider(GridDataProviderRequest<ProductModel> request)
    {
        if (products is null)
            products = await data.GetAllAsync();
        return await Task.FromResult(request.ApplyTo(products ?? new List<ProductModel>()));
    }
}